Builds/MacOSX/GuitarAmpBasic.xcodeproj/project.xcworkspace/xcuserdata/martinpenberthy.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/GuitarAmpBasic.xcodeproj/xcuserdata/martinpenberthy.xcuserdatad/xcschemes/xcschememanagement.plist